{
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

input:focus {
    background-color: rgb(238, 255, 247);
}

#FaintMemory, #Alcryst, #Weapon, #JobMemory, #Statue, #Location{
  margin: 12px;
  padding: 12px;
}
input[type=number]{
  padding: 5px 5px;
  margin: 5px 0;
  box-sizing: border-box;
  width: 140px;
}

.list {
  list-style-type: none;
  /* padding: 0; */
  /* margin: 0; */
  /* float: left; */
  list-style: none;
  text-align: center;
  /* background-color: #000000; */
  /* margin-right: 30px;  */
  /* width: 150px; */
  line-height: 60px;
}

.list li a {
  border: 1px solid #ddd;
  margin-top: -1px;
  background-color: #f6f6f6;
  padding: 15px;
  padding-bottom: 5px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block
 }

.list li a:hover:not(.header) {
  background-color: #eee;
}


.grid {
  max-width: auto;
  margin: 10px;
  padding-left: 25px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 140px);
}

h2, h4, h6 {
  margin: 12px;
  padding: 12px;
}

p {
  margin-left: 24px;
  font-size: 14px;
}

h1 {
  text-align: center;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.myButton {
	box-shadow:inset 0px 1px 0px 0px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:6px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}


body {
  margin:0px;
}
.colour-block {
  background:#3399CC;
  width:100%;
  padding:7% 20% 10% 20%;
  color:#fff;
}
.white-block {
  background:#fff;
  width:60%;
  padding:7% 20% 10% 20%;
  color:#3399CC;
}
h1 {
  text-align:center;
  font-size:80px;
  font-family:'wire one', serif;
  font-weight:normal;
}
#Materials {
  font-size:20px;
  font-family:'Raleway', serif;
}

.scallop-down{
  height:100px;
  width:100%;
  background: -webkit-gradient(radial, 50% 0, 10, 50% 0, 40, from(#3399CC), color-stop(0.49, #3399CC), color-stop(0.51, #fff), to(white));
-webkit-background-size: 49px 100%;
}

.scallop-up{
  height:100px;
  width:100%;
  background: -webkit-gradient(radial, 50% 100%, 10, 50% 100%, 40, from(#3399CC), color-stop(0.49, #3399CC), color-stop(0.51, #fff), to(white));
-webkit-background-size: 49px 100%;
}


.tableFixHead          { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; }


table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

.navigationbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navigationbar ul {
  list-style: none;
}

.navigationbar li {
  float: left;
}

.navigationbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navigationbar li a:hover {
  background-color: #111;
}

.navigationbar .active {
  background-color: #3399CC;
}
